body,
html {
  /* height:100%; */
  
  #contianer{
  display: grid;
  gap: 5px;
  height: 100vh;
  width: 100vw;

  grid-template-columns: 100px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "name link"
    "main"
    "footer";
  }


  #container{
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: "item";
  grid-area: main;
  }

h1{
  background-color: red;
  grid-area: name;
}

ul{
  background-color: goldenrod;
  grid-area: link;
}

.store-item{
background-color:blue;
grid-area: item;
}

.img{
  width: 50;
  height: 50;
  object-fit: cover;
  grid-area: item;
}

margin: 0px;
padding: 0px;
}
