body,
html {
  max-height:100%;
  max-width:100%;
  overflow-x:hidden;
  
  
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr auto;
  
    height: 100vh;
  
    grid-template-areas: 
      "name link"
      "main main"
      "footer footer";
    }


  #container{
  display: flex;
  flex-wrap:wrap;
  grid-template-columns: repeat(4,1fr); 
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "item";
  grid-area: main;
  
  }

  main{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 5px;
}

header{
  grid-area: header;
  background-color: purple;

}
/*
h1{
  background-color: red;
  grid-area: name;
}

ul{
  background-color: goldenrod;
  grid-area: link;
}
*/
.store-item{
 border-style: solid;
}

.store-item img { 
  height: auto; 
  max-width: 300px; 
  display: block;
  margin: 0 auto;
  grid-area: item;
  border-bottom-style: solid;
  border-spacing: 5px;
  padding: 3px;
 
}

span{
  padding: 20px;
  font-size: 20px;
}

footer{
  grid-area: footer;
  background-color: grey;
  font-size: 20px;
}

margin: 0px;
padding: 0px;
}
